ion-slide {
    height: 80vh;
    flex-direction: column;
    // border: 1px solid red;
    background-color: #FCFCFC;
    // padding-top: 30%;
    color: #464B62;
    padding-top: 45%;
}

ion-content {
  background: #FCFCFC;
}

ion-slide h2 {
  font-weight: 500;
}

ion-slide p {
  color: #464B62;
}

ion-img {
    max-width: 50vw;
    max-height: 50vh;
    padding-bottom: 15px;
    //overflow: hidden;
    // border: 1px solid blue;
    height: 180px;
}

ion-grid {
  padding-bottom: 10px;
  // position: absolute;
  // border: 1px solid blue;
  top: 30%;
}

#slideText {
  position: relative;
  bottom: 0px;

}
.step-one {
    //background: var(--ion-color-primary);
    //color: var(--ion-color-primary-contrast);
}

.step-two {
    //background: var(--ion-color-success);
    //color: var(--ion-color-success-contrast);
}

.step-three {
    //background: var(--ion-color-dark);
    //color: var(--ion-color-dark-contrast);
}

ion-footer {
  border: 1px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.skipLink {
  font-weight: 700;
  font-size: 0.7em;
  color: #BABABA;
  top: 0px;
  // border: 1px solid red;
  display: block;
  text-align: center;
}

.arrowRight {
  padding-top: 18px;
}

.arrowLeft {
  padding-top: 18px;
}

ion-col {
  // border: 1px dotted red;
}

.buttonStart {
  width: 144px;
  height: 34px;
  --background: #464B62;
  --background-activated: #464B62;
  // top: 30px;
  position: relative;
}

.swiper-pagination {
  border: 1px solid red;
}

.imageOnboarding {
  position: relative;
  left: 25%;
  // margin-top: 50px;
}
