<ion-card button class="shadow" color="white">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row class="ion-no-padding">
          <ion-col size="2">
            <div class='lineSquereIconGrey'>
              <div>{{departure.line_name}}</div>
            </div>
          </ion-col>
          <ion-col size="7">
            <div class="ion-no-padding">
              <h2 class="bustStopNameCard">{{departure.line_direction}}</h2>
            </div>
          </ion-col>

          <ion-col size="3">
            <div class="bold-favourite-time">
              <ion-img *ngIf="departure.arrival_time === 0"
                    src="./assets/icon/bodky.gif"
                    class="waitingDots-stopDetail">
              </ion-img>
            </div>
            <div>
              <div *ngIf="departure.arrival_time !== 0"
                   class="bold-favourite-time">
                o {{departure.arrival_time}} min
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
