.table {
	width: calc(100% - 20%);
	overflow: scroll;
}

.table::-webkit-scrollbar {
    display: none;
}

.riadok {
	white-space: nowrap;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 30px;
	}
}

.min {
	width: 30px;
  height: 30px;
  text-align: center;
	display: inline-flex;
  align-items: center;
  justify-content: center;

	&.closestMin {
		font-weight: bold;
	}
}

.hourColumn {
	display: flex;
	justify-content: center;

	&.closest {
		background-color: #F0F0F3;
	}
}

.riadok {
	&.closest span {
		background-color: #F0F0F3;
	}
}

.hoursColumn {
	border-right: 1px solid #F0F0F2;
}
