<ion-header>
  <ion-toolbar color='baTheme'>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/tabs/lines/line-detail/{{idLine}}/{{idDirection}}?direction=1">
      </ion-back-button>
    </ion-buttons>
    <ion-img src="./assets/icon/PNGbratislava.png" class='baIcon'></ion-img>
    <ion-title class='titleColor'>Linka {{idLine}}, Grafikon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding stop-detail">
        <ion-col size="2">
          <div class='lineSquereIcon padding-top'>
            <div class='SquereIconText'>{{idLine}}</div>
          </div>
        </ion-col>
        <ion-col size="8" class=''>
          <div class="ion-text-nowrap">
            <h4 class="bold">{{stopData.selected_stop}}</h4><br/>
          </div>
          <div class="">
            <ion-text color="darkGrey subHeader">
              Zastávka
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2" class='padding-top'>
          <div class="favouriteTapDiv-stopDetail">
            <ion-icon [name]="buttonIcon"
                      [ngClass]="heartClass"
                      (click)="saveFavouriteStop($event)">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class='secondMenuTabs'>
    <ion-row class='tabsContentMenu'>
      <ion-col size='4'><a class="bold timetableMenu" (click)="showAll()">Prac. dni</a></ion-col>
      <ion-col size='4'><a class="bold timetableMenu" (click)="showLines()">Prázdniny</a></ion-col>
      <ion-col size='4'><a class="bold timetableMenu" (click)="showStops()">Voľné dni</a></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class='ion-no-padding'>
    <ion-card-content  class='ion-padding'>
      <ion-grid class='ion-no-padding'>
        <!-- header row -->
        <ion-row class='bottomDivider'>
            <ion-col size='2' class='rightDivider'>
              hod.
            </ion-col>
            <ion-col size='10'>
              minúty
            </ion-col>
        </ion-row>
        <!-- header row END -->

        <ion-row>
          <ion-col size='2' no-padding class="hoursColumn">
            <div *ngFor="let timetable of timetableData.work" class="hourColumn" [ngClass]="{'closest': isClosest(timetable)}">
              <span class="min">{{timetable.hour}}</span>
            </div>
          </ion-col>

          <div class="table">
            <div class="riadok" *ngFor="let timetable of timetableData.work" [ngClass]="{'closest': isClosest(timetable)}">
              <span
                *ngFor="let timetableMinutes of timetable.minutes"
                class="min"
                [ngClass]="{ 'closestMin' : isClosest(timetable, false) && isClosestMinute(timetableMinutes, timetable.minutes) }"
              >{{ timetableMinutes }}
            </span>
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class='timetableInfo'>
    <ion-card-content class='ion-no-padding'>
      <ion-grid class='ion-padding'>

        <ion-row class='bottomDividerWhite'>
          <ion-col size='2' class='centered'>
            <div class='infoIconDiv'>
              <ion-icon class='infoIcon' name="information-circle"></ion-icon>
            </div>
          </ion-col>
          <ion-col size='10' class='bold paddingCustom14'>
            Poznámky
          </ion-col>
        </ion-row>

        <ion-row class='paddingCustom14'>
          <ion-col size='2' class='centered'>
            <ion-icon src="./assets/icon/naZnamenie.svg"></ion-icon>
          </ion-col>
          <ion-col size='10'>
            Zastávka na znamenie
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2' class='blueTime centered'>
            <strong>36</strong>
          </ion-col>
          <ion-col size='10'>
            Spoje označené modrou farbou sú zabezpečované nízkopodlažnými
            vozidlami
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size='2' class='centered'>
            <strong>v</strong>
          </ion-col>
          <ion-col size='10'>
            Zo zastávky <strong>Trnavská</strong> pokračuje v smere
            <strong>Vozovňa Trnávka</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
