  <!--
  <ng-template ngFor let-stop [ngForOf]="lineStops">
  -->
  <!--
    <ion-row *ngFor="let lineStop of stop.lineStops; let i=index; let lastItem = last;"
              class="ion-no-padding">
  -->
  <div *ngFor="let i=index; let lastItem = last;"></div>
  <ion-row
          class="ion-no-padding">
    <ion-col size='2' class='lineTime'>
       <br>
      {{lineStops.time}} <br/>min

    <div class='timeDivider' *ngIf="!lastItem"></div>
    </ion-col>
    <ion-col size='10' class="ion-no-padding">
      <ion-card button color="white"
                       (click)="openLineTimetable(
                                $event, lineStops.id_stop, idLine, idDirection)"
                       class="ion-no-margin shadow">
          <ion-card-content class="ion-padding">
            <ion-row>
              <ion-col size='10'>
                <div class='bold'>{{lineStops.stop_name}}</div>
                <span class='destination'>zastávka

                  <ion-icon src="../assets/icon/naZnamenie.svg"
                            *ngIf="lineStops.request_stop == true">
                  </ion-icon>

                  <span *ngIf="lineStops.request_stop === true"> / </span>

                  </span>
              </ion-col>

              <ion-col size='2'>
                <div class="favouriteTapDiv favouriteTapDiv2">
                  <ion-icon [name]="buttonIcon"
                            [ngClass]="heartClass"
                            (click)="saveFavouriteStop($event, lineStop.id)"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!--
   </ng-template>
 -->
