<ion-card *ngFor="let line of linesData" button
          class="shadow"
          color="white"
          (click)="openLineDetail($event, '39')">
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-no-padding">
        <ion-col size="2">
          <div class='lineSquereIcon'>
            <div class='SquereIconText'>1</div>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="ion-text-nowrap">
            <h3 class="bold">Petrzalka</h3>
          </div>
          <div class="multi-ellipsis">
            <h3 class="bold">
              Hlavná stanica
            </h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
