<!-- Stop card -->
<ion-card button class="shadow" color="white">
  <ion-card-content class="ion-no-padding">
    <ion-grid *ngIf="favLine">
      <ion-row class="ion-no-padding divider">
        <ion-col size="2">
          <div class='lineSquereIcon'>
            <div class='SquereIconText'>{{favLine.line_id}}</div>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="ion-text-nowrap">
            <h3 class="bold">Televízia</h3>
          </div>
          <div class="multi-ellipsis">
            <ion-text color="darkGrey">
              <p class="destination">{{favLine.line_direction}}</p>
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="favouriteTapDiv">
            <ion-icon name="heart"
                      class="heartFilled"
                      (click)="removeFavouriteLine($event, favLinesData.line_id)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding paddingCustom">
        <ion-col size="6" class='divider2'>
            <h3 class='darkGrey'>najbližšie odchody:</h3>
        </ion-col>
          <ion-col size="2" class='divider2 borderRight'
                   *ngFor="let closestDeps of favLine.closest_departures">
            <div class="ion-text-nowrap boldCentered">
              {{ closestDeps }}
            </div>
          </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col size="6">
          <div class=''>
            <h3 class='darkGrey'>meškanie:</h3>
          </div>
        </ion-col>
        <ion-col size="2" class='borderRight red'>
          <div class="ion-text-nowrap">
            <!--
            4 min <br/>
            12:34
            -->
          </div>
        </ion-col>
        <ion-col size="2" class='borderRight'>
          <div class=""></div>
        </ion-col>
        <ion-col size="2">
          <div class="red">
            <!--
            10 min <br/>
            12:50
            -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
