<ion-tabs>
  <ion-tab-bar slot="bottom" id='tabStyleCustom'>
    <ion-tab-button tab="favourites">
      <ion-icon name="heart" class='color'></ion-icon>
      <ion-label>Srdcovky</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lines">
      <ion-icon name="apps" class='color'></ion-icon>
      <ion-label>Linky</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stops">
      <ion-icon name="apps" class='color'></ion-icon>
      <ion-label>Zastavky</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="map" class='color'></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
