<!-- LINE -->
<ion-card button class="shadow"
          color="white" style="margin-top: 15px;"
          (click)="removeFavouriteStop($event, favStop.stop_id)">
  <ion-card-content class="ion-no-padding">
    <ion-grid *ngIf="favStop">
      <ion-row class="ion-no-padding divider">
        <ion-col size="2">
          <div class='lineSquereIconNoBorder'>
            <ion-icon src="./assets/icon/bus-stop.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="ion-text-nowrap">
            <h3 class="bold-favourite">{{favStop.stop_name}}</h3>
          </div>
        </ion-col>

        <ion-col size="2">
          <div class="favouriteTapDiv">
            <ion-icon name="heart" class="heartFilled"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let line of favStop.lines" class="ion-no-padding">
        <ion-col size="2">
          <div class='lineNumberSquare'>
            <span>{{line.line_name}}</span>
          </div>
        </ion-col>
        <ion-col size="7" class='divider2'>
          <div class="ion-text-nowrap">
            <h3 class="">{{line.line_direction}}</h3>
              <ion-icon *ngIf="line.low_rise === true"
                        src='./assets/icon/disability.svg'>
              </ion-icon>
          </div>
        </ion-col>

        <ion-col size="3" class='divider2'>
          <div class="bold-favourite-time" *ngIf="line.arrival_time === 0">
            <ion-img src="./assets/icon/bodky.gif" class="waitingDots"></ion-img>
          </div>
          <div class="bold-favourite-time" *ngIf="line.arrival_time !== 0">
            o {{line.arrival_time}} min
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
