<!-- LINE -->
<ion-card button class="shadow" color="white" style="margin-top: 15px;">
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-no-padding divider">
        <ion-col size="2">
          <div class='lineSquereIconNoBorder'>
            <ion-icon src="./assets/icon/bus-stop.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="ion-text-nowrap">
            <h3 class="bold-favourite">Kollárovo námestie</h3>
          </div>
        </ion-col>

        <ion-col size="2">
          <div class="favouriteTapDiv">
            <ion-icon name="heart" class="heartFilled"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col size="2">
          <div class='lineNumberSquare'>
            212
          </div>
        </ion-col>
        <ion-col size="7" class='divider2'>
          <div class="ion-text-nowrap">
            <h3 class="">ŽST Železná studnička</h3>
            <ion-icon src='./assets/icon/disability.svg'></ion-icon>
          </div>
        </ion-col>

        <ion-col size="3" class='divider2'>
          <div class="bold-favourite-time">
            <ion-img src="./assets/icon/bodky.gif" class="waitingDots"></ion-img>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col size="2">
          <div class='lineNumberSquare'>
            208
          </div>
        </ion-col>
        <ion-col size="7" class='divider2'>
          <div class="ion-text-nowrap">
            <h3 class="">Staré mesto, Šulekova</h3>
            <ion-icon src='./assets/icon/disability.svg'></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" class='divider2'>
          <div class="bold-favourite-time">
            o 2 min
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-padding">
        <ion-col size="2">
          <div class='lineNumberSquare'>
            39
          </div>
        </ion-col>
        <ion-col size="7">
          <div class="ion-text-nowrap">
            <h3 class="">Cintorín Slávičie údolie</h3>
            <ion-icon src='./assets/icon/disability.svg'></ion-icon>
            <span class='delayInfoSmall'>meškanie 2 min </span>
          </div>
        </ion-col>

        <ion-col size="3">
          <div class="bold-favourite-time red">
            o 5 min
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
