<ion-header>
  <ion-toolbar color='baTheme' style="height: 55px; box-shadow: 0px 3px 5px #adadad;">
    <ion-title class='titleColor'>LINKY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="baThemeContent">

  <ion-searchbar padding></ion-searchbar>

  <ion-text>
    <h1 padding>Zoznam liniek</h1>
  </ion-text>

<ion-grid no-padding fixed>
  <ion-row class="place-row">
    <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" >

      <ion-card button class="shadow" margin margin-bottom color="white"
        [routerLink]="">
        <ion-card-content no-padding>
          <ion-grid padding style="padding-top: 0px !important;">
            <ion-row>
              <ion-col size="2">
                <div class='lineSquereIcon'>
                  <div class='SquereIconText'>1</div>
                </div>
              </ion-col>
              <ion-col size="1">
              </ion-col>
              <ion-col size="9">
                <div class="ion-text-nowrap">
                  <h3 class="bold">Petrzalka</h3>
                </div>
                <div class="multi-ellipsis">
                  <ion-text color="medium">
                    <p style="text-align: left;">Elektricka</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card button class="shadow" margin margin-bottom color="white"
        [routerLink]="">
        <ion-card-content no-padding>
          <ion-grid padding style="padding-top: 0px !important;">
            <ion-row>
              <ion-col size="2">
                <div class='lineSquereIcon'>
                  <div class='SquereIconText'>1</div>
                </div>
              </ion-col>
              <ion-col size="1">
              </ion-col>
              <ion-col size="9">
                <div class="ion-text-nowrap">
                  <h3 class="bold">Petrzalka</h3>
                </div>
                <div class="multi-ellipsis">
                  <ion-text color="medium">
                    <p style="text-align: left;">Elektricka</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
