.lineSquereIcon {
  border-radius: 5px;
  background: #474B60;
  //padding: 20px;
  width: 45px;
  height: 45px;
  border: 2.5px solid #FF6600;
  position: relative;
}

.lineSquereIconGreen {
  border-radius: 5px;
  background: #474B60;
  //padding: 20px;
  width: 45px;
  height: 45px;
  border: 2.5px solid #009846;
  position: relative;
}

.lineSquereIconOrange {
  border-radius: 5px;
  background: #474B60;
  // padding: 20px;
  width: 45px;
  height: 45px;
  border: 2.5px solid #F7AA47;
  position: relative;
}

.SquereIconText {
  color: white;
  position: relative;
  top: 8px;
  left: 1px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

ion-grid {
  // border: 1px solid red;
  // --ion-padding: 90px;
}

ion-row {
  // border: 1px solid red;
}

ion-col {
  border: 0px dotted blue;
  text-align: center;
  font-size: 1.1em;
}

:host ::ng-deep {

  ion-content {
    background-color: #FCFCFC;
  }

}
