
ion-grid {
  // border: 1px solid red;
  // --ion-padding: 90px;
}

ion-row {
  // border: 1px solid red;
}

ion-col {
  border: 0px dotted blue;
  text-align: center;
  font-size: 1.1em;
}

:host ::ng-deep {

  ion-content {
    background-color: #FCFCFC;
  }

}
