<ion-header>
  <ion-toolbar color='baTheme'>
    <ion-img src="./assets/icon/PNGbratislava.png" class='baIcon'></ion-img>
    <ion-title class='titleColor'>Obľúbené</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="backdrop" class="back-drop"></div>

<ion-grid class='secondMenuTabs'>
  <ion-row class='tabsContentMenu'>
    <ion-col size='4'><a href="" (click)="showAll()">Všetko</a></ion-col>
    <ion-col size='4'><a href="" (click)="showLines()">Linky</a></ion-col>
    <ion-col size='4'><a href="" (click)="showStops()">Zastávky</a></ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="!noFavsData" #noFavsData>

  <div *ngIf="showStopsFlag">
      <fav-stop-card *ngFor="let stopData pre stops" [favStopsData]="stopData"></fav-stop-card>
  </div>

  <div *ngIf="showLinesFlag">
    <fav-line-card *ngFor="let lineData of lines" [favLineData]="lineData"></fav-line-card>
  </div>
</div>
<div *ngIf="noFavsData" class='noFavData'>
  Je tu prázdno, pridaj si niečo kliknutím na tlačidlo dole.
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="backdrop = !backdrop">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" color='primary'>
      <ion-fab-button (click)="navTo(2)">
        <ion-icon src="./assets/icon/bus-stop.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="navTo(1)">
        <ion-icon src="./assets/icon/timeline.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
