<ion-header>
  <ion-toolbar color='baTheme'>
    <ion-img src="./assets/icon/PNGbratislava.png" class='baIcon'></ion-img>
    <ion-title class='titleColor'>Obľúbené</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="backdrop" class="back-drop"></div>

<ion-grid class='secondMenuTabs'>
  <ion-row class='tabsContentMenu'>
    <ion-col size='4'><a href="">Všetko</a></ion-col>
    <ion-col size='4'><a href="">Linky</a></ion-col>
    <ion-col size='4'><a href="">Zastávky</a></ion-col>
  </ion-row>
</ion-grid>

<fav-stop-card></fav-stop-card>
<fav-line-card></fav-line-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="backdrop = !backdrop">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" color='primary'>
      <ion-fab-button><ion-icon src="./assets/icon/bus-stop.svg"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon src="./assets/icon/timeline.svg"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
