:host ::ng-deep {

  .count {
    border: 0px solid red;
    position: absolute;
    background: #FFEB3B;
    display: block;
    font-weight: bold;
    border-radius: 2px;
    top: -8px;
    left: -10px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .markerIcon {
    height: 32px;
    widht: 32px;
  }

}
