/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/_ionic";

ion-toolbar {
  background-color: var(--ion-color-baTheme);
}

ion-searchbar div {
  --background: white;
  box-shadow: 0px 1px 4px #00000026;
  border-radius: 10px;
}

ion-searchbar {
  padding-left: 17px !important;
  padding-right: 17px !important;
  margin-top: 8px;
}

div[text-nowrap] {

  * {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.flex {
  display: flex;
}

.vertical-align-top {
  vertical-align: top;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
}

.scroll {
  overflow-y: auto;
}

star-rating {
  &.space-around div {
    display: flex;
    justify-content: space-around;
  }

  .star {
    opacity: .3;

    &.on {
      opacity: 1;
    }
  }
}

.swal2-container {

  .swal2-icon {
    .swal2-success-line-tip {
      background-color: var(--ion-color-medium-shade) !important;
    }

    .swal2-success-line-long {
      background-color: var(--ion-color-medium-shade) !important;
    }

    .swal2-success-ring {
      border-color: var(--ion-color-medium-tint) !important;
    }
  }

  .swal2-actions {
    text-align: center;
  }

  .swal2-styled {
    &.swal2-confirm {
      background-color: var(--ion-color-primary);
    }

    &.swal2-cancel {
      background-color: var(--ion-color-medium);
    }

    &:focus {
      box-shadow: none;
    }
  }

}

.bold {
  font-weight: bold !important;
  text-align: left;
  color: var(--ion-color-darkGrey);
  vertical-align: middle;
}

.bold-favourite {
  font-weight: bold !important;
  text-align: left;
  color: var(--ion-color-darkGrey);
  padding-top: 10px;
}

.bold-favourite-line {
  font-weight: bold !important;
  text-align: left;
  color: var(--ion-color-darkGrey);
  padding-top: 11px;
  text-align: center;
}

.bold-favourite-time {
  font-weight: bold !important;
  text-align: left;
  color: var(--ion-color-darkGrey);
  padding-top: 7px;
  text-align: center;
}

.boldCentered {
  font-weight: bold !important;
  text-align: center;
  color: var(--ion-color-darkGrey);
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.red {
  color: #BE1622;
  text-align: center;
}

.delayInfoSmall {
  color: #EC4646;
  font-size: 0.8em;
  padding-left: 3px;
}

.destination {
  color: var(--ion-color-darkGrey);
  text-align: left;
}

.destinationIcon {
  display: absolute;
}

.waitingDots {
  height: 15px;
  width: 30px;
  position: absolute;
  left: 30px;
  bottom: 15px;
}

.hidden {
  visibility: hidden !important;
}

.padding-small {
  padding: 4px !important;
}

.padding-medium {
  padding: 8px !important;
}

.padding-horizontal-medium {
  padding: 0 8px !important;
}

.margin-medium {
  margin: 8px !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.text-small {
  font-size: 12px !important;
}

.text-medium {
  font-size: 14px !important;
}

.text-normal {
  font-size: 16px !important;
}

.text-slarge {
  font-size: 18px !important;
}

.text-large {
  font-size: 24px !important;
}

.text-xlarge {
  font-size: 36px !important;
}

.border {
  border: 1px solid #d8d8d8 !important;
}

.radius {
  border-radius: 4px !important;
}

.radius-top {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.radius-bottom {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.disabled {
  opacity: 0.5 !important;
}

.menu-toolbar {
  padding: 0;
}

.loading-wrapper {
  border: 4px solid var(--ion-color-light);
}

.scroll {
  height: 100%;
}

.shadow {
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.1) !important;
  margin-top: 0px;
}

.horizontal-line {
  height: 1px;
  background-color: #ccc;
}

.plt-desktop {
  .link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .hover:hover {
    --background: var(--ion-color-light-tint);
    background: var(--ion-color-light-tint);
  }

}

.line {
  height: 1px;
  background: var(--ion-color-primary);
}

.transparent {
  background: transparent !important;
  --background: transparent !important;
}

ion-avatar img {
  padding: 2px;
  background: var(--ion-color-light);
}

.light-bg {
  background: var(--ion-color-light);
}

.no-margin {
  margin: 0 !important;
}

.ellipsis {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width {
  width: 100% !important;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.ng-lazyloaded,
.fade-in {
  animation: fadein .6s;
}

.card-content {
  padding: 1px 3px !important;
}

// Info Window
.si-content-wrapper {
  border: none !important;
}

.si-pointer-border-top {
  border-top-color: transparent !important;
}

.si-pointer-top {
  border-width: 14px !important;
}

::-webkit-input-placeholder {
  font-size: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Desktop

ion-header ion-toolbar {
  margin: auto;
  text-align: center;
}

@media (min-width: 0px) {
  .hide-xs-up {
    display: none;
  }

  .show-xs-up {
    display: block;
  }
}

@media (min-width: 576px) {
  .hide-sm-up {
    display: none;
  }

  .show-sm-up {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-md-up {
    display: none;
  }

  .show-md-up {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-lg-up {
    display: none;
  }

  .show-lg-up {
    display: block;
  }
}

@media (min-width: 1200px) {
  .hide-xl-up {
    display: none;
  }

  .show-xl-up {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {

  .hide-xs-only {
    display: none;
  }

  .show-xs-only {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .hide-sm-only {
    display: none;
  }

  .show-sm-only {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-md-only {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .show-lg-only {
    display: block;
  }
}

$grid-breakpoints-lg: 992px;

@media (min-width: $grid-breakpoints-lg) {

  ion-header ion-toolbar[fixed],
  ion-tabs ion-tab-bar[fixed],
  ion-footer ion-toolbar[fixed] {
    margin: 0;
    padding-right: calc((100% - #{$grid-breakpoints-lg}) / 2);
    padding-left: calc((100% - #{$grid-breakpoints-lg}) / 2);
  }

  ion-tabs ion-tab-bar {
    justify-content: start;

    ion-tab-button {
      justify-content: start;
    }
  }

  ion-header ion-toolbar {
    --min-height: 50px;

    .logo {
      height: 50px;
    }
  }

  lightbox {
    width: 800px !important;
    height: 600px !important;
  }
}

.html-content {
  line-height: 1.5;
  text-align: justify;
  padding: 16px;

  img,
  video {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }
}

.plt-desktop {

  ion-card,
  .card {
    cursor: pointer;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

ion-bottom-drawer {
  /* background-color: transparent !important; */
  box-shadow: rgba(50, 50, 50, 0.25) 0px -5px 15px;

  ion-content {
    //background-color: red;

    .drawer-content {
      /* border: 1px solid var(--ion-color-light);
      border-radius: 36px 36px 0 0; */
      padding-top: 60px;
    }

    ion-virtual-scroll {
      margin-bottom: 60px;
    }

    ion-toolbar {
      /* border-radius: 36px 36px 0 0; */
    }
  }
}

// Fix lighbox display on iphone x
:root {

  lightbox gallery {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    .g-btn-close {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
  }
}

.pageTitle {
  padding-left: 25px !important;
  font-weight: 600 !important;
  padding-bottom: 15px;
  color: var(--ion-color-darkGrey);
}

ion-card {
  // border:1px solid orange;
  // --ion-padding: -10px;
}

.swiper-pagination {
  top: -45px;
  display: block;
  position: relative;
}
.swiper-pagination-bullet-active {
  background: #B2311B !important;
  border: 1px solid #B2311B !important;
}

.swiper-pagination-bullet {
  border: 2px solid #464B62;
}

.baIcon {
  color: blue;
  height: 21px;
  widht: 18px;
  float: right;
  padding-right: 10px;
}

:host ::ng-deep {

  ion-content {
    --background: var(--ion-color-dark);
  }
}

.lineSquereIcon {
  border-radius: 5px;
  background: #474B60;
  //padding: 20px;
  width: 30px;
  height: 30px;
  // border: 1.5px solid orange;
  position: relative;
}

.lineSquereIconNoBorder {
  border-radius: 5px;
  background: #474B60;
  padding: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.lineSquereIconNoBorder ion-icon {
  color: white;
  position: relative;
  bottom: 7px;
  right: 7px;
}

.padding-top {
  top: 22px;
  left: 5px;
}

.favouriteTapDiv {
  // border: 1px dotted red;
  border-radius: 5px 0 0 5px;
  background: #F0F0F2;
  float: right;
  display: block;
  height: 50px;
  width: 50px;
  right: -6px;
  position: absolute;
  top: 0px;
}

.favouriteTapDiv ion-icon {
  // border: 1px solid orange;
  height: 30px;
  width: 31px;
  top: 20%;
  left: 10px;
  color: #464B62;
  position: relative;
}

.favouriteTapDiv2 {
  right: -10px;
}

/*
.lineNumberSquare {
  border-radius: 5px;
  background: #F0F0F2;
  padding: 7px;
  width: 45px;
  height: 35px;
  position: relative;
  color: var(--ion-color-darkGrey);
  font-size: 15px;
  text-align: center;
  top: 5px;
}
*/

.lineNumberSquare {
  border-radius: 5px;
  background: #F0F0F2;
  /* padding: 8px; */
  width: 38px !important;
  height: 32px;
  position: relative;
  color: var(--ion-color-darkGrey);
  font-size: 15px;
  text-align: center;
  top: 5px;
  /* border: 1px solid red; */
  margin-right: 10px;
  display: inline-flex;
  padding-top: 6px;
}

.lineNumberSquare span {
  width: inherit;
  text-align: center;
  display: block;
}

.lineNumberSquare div {
  width: inherit;
  text-align: center;
  display: block;
}

.divider {
  border-bottom: 1.5px solid #F0F0F2;
  padding-top: 8px;
  padding-bottom: 8px;
}

.divider2 {
  border-bottom: 1px solid #F0F0F2;
  width: 120%;
}

.heartFilled {
  fill: #BE1622;
}

.customToast {
  --background: #464B62;
  --border-radius: 0px;
  --border-style:solid;
  --button-color: #ffffff;
  --color:#fff;
  display: block;
  position: fixed;
  top: -45px;
  width: 106%;
  margin-left: -10px;
}

.lineSquereIcon {
  border-radius: 5px;
  background: #474B60;
  //padding: 20px;
  width: 45px;
  height: 45px;
  // border: 2.5px solid #FF6600;
  position: relative;
}

.lineSquereIconGreen {
  border-radius: 5px;
  background: #474B60;
  //padding: 20px;
  width: 45px;
  height: 45px;
  // border: 2.5px solid #009846;
  position: relative;
}

.lineSquereIconOrange {
  border-radius: 5px;
  background: #474B60;
  // padding: 20px;
  width: 45px;
  height: 45px;
  // border: 2.5px solid #F7AA47;
  position: relative;
  font-size: 0.9em;
}

.SquereIconText {
  color: white;
  position: relative;
  top: 12px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.borderRight {
  border-right: 1px solid #F0F0F2;
}

.paddingCustom {
  padding-top: 5px;
}

.darkGrey {
  color: #464B62;
}

/* Page stop-detail/stopId */
.stop-detail {
  background-color: #E7E7E9;
}

.favouriteTapDiv-stopDetail {
  background-color: #F0F0F2;
  border-radius: 5px 0 0 5px;
  float: right;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
}

.favouriteTapDiv-stopDetail ion-icon {
  // border: 1px solid orange;
  height: 30px;
  width: 31px;
  top: 20%;
  left: 10px;
  color: #464B62;
  position: relative;
}

.subHeader {
  bottom: 25px;
  position: relative;
  color: #464B62;
}

h4 {
  top: 5px;
  position: relative;
}

.filters {
        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #ccc;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            color: #464B62;
            margin: 10px;
            font-size: 1.0rem;
            background: white;
            border: none;
            box-shadow: 0px 0px 7px #00000026;
            padding-top: 10px;
            font-weight: 500;

            // line-height: 1.6rem;
        }

        .selected {
            font-weight: 700;
        }
}

.linesSlider {
  width: 85%;
  overflow:visible;
}

.lineSquereIconGrey {
  border-radius: 5px;
  background: #F0F0F2;
  //padding: 20px;
  width: 45px;
  height: 45px;
  position: relative;
}

.lineSquereIconGrey div {
  color: #464B62;
  position: relative;
  top: 12px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.bustStopNameCard {
  font-size: 1.1em !important;
  margin-top: 10px !important;
  font-weight: 900 !important;
  color: #464B62;
  padding-top: 1px;
}

.waitingDots-stopDetail {
  height: 15px;
  width: 30px;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.button-text {
  display: none;
}

.button-inner {
  color: white;
}

/* LINE DETAIL */

.lineTime {
  text-align: center;
  padding-right: 15px;
  font-weight: 400;
  color: #464B62;
  margin-top: 15px;
}

.timeDivider {
  border-left: 1px solid #9B9EAB;
  height: 30px;
  margin-top: 10px;
  margin-left: 50%;
}

.lineDetailCard {
  padding-bottom: 8px;
}

/* TIMETABLE */
.timetableTabs {
  border-bottom: none;
}

.timetableTabs ion-label {
  font-weight: 700;
  font-size: 1.6em;
}

.bottomDivider {
  border-bottom: 1px solid #F0F0F2;
}

.bottomDividerWhite {
  border-bottom: 1px solid #FFFFFF;
}

.rightDivider {
  border-right: 1px solid #F0F0F2;
  text-align: center;
}

.timetableInfo {
  background-color: #F0F0F2;
}

.blueTime {
  color: #0587EB;
}

.infoIconDiv {
  border-radius: 5px;
  background: #FFFFFF;
  width: 40px;
  height: 40px;
  position: relative;
  margin-bottom: 5px;
}

.infoIcon {
  height: 20px;
  width: 20px;
  top: 25%;
  position: absolute;
  left: 25%;
}

.paddingCustom14 {
  padding-top: 14px;
}

.timetableMenu {
  font-size: 1.1em !important;
}


.back-drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    z-index: 1;
}

.noData {
  color: var(--ion-color-darkGrey);
  display: block;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

::ng-deep {
    .toast-button{
        color: white;
    }
}

.noFavData {
  height: 100%;
  top: 40%;
  display: block;
  position: absolute;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: rgba(70, 75, 98, .62);
  padding: 20px;
}

.tabsContentMenu {
  margin-bottom: 0px;
}

.tabsContentMenu a {
  font-size: 1.3em;
  color: #8A8A8A;
  font-weight: 500;
  display: block;
  text-align: left;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 10px;
}

.active {
  color: var(--ion-color-baTheme) !important;
}

.swiper-slide {
    width: 60px !important;
}
